{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'jobs/css/find_jobs.css' %}">
{% endblock %}

{% block 'body' %}
    <div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-sm">
        <form action="{% url 'find_jobs' %}" method="GET">{% csrf_token %}
            <input type="text" class="form-control" placeholder="Lowest price" name="lowest_price">
            <br>
            <input type="text" class="form-control" placeholder="Highest price" name="highest_price">
        </div>
        <div class="col-sm">
            <input type="date" class="form-control" name="short_date">
            <br>
            <input type="date" class="form-control" name="long_date">
        </div>
        <div class="col-sm">
            <select class="form-control" name="category">
                <option value="ALL">Categories</option>
                <option value="D">Design</option>
                <option value="VE">Video edition</option>
            </select>
            <br>
            <input type="submit" class="btn btn-success btn-lg" value="FILTER">
        </form>
        </div>
    </div>
    <br>
    <br>
    <h2 class="titulo">AVAILABLE JOBS:</h2>
    <div class="row justify-content-around">
        
        {% for job in jobs %}
            
            <div class ="col-6 row-card">
                <div class="card-job">
                    <div class="header-job">
                        <h4 class="titulo-job">{{job.title}}</h4>
                    </div>
                    <div class="body-job">
                        <p class="titulo-body">Description:</p>
                        <div style="width: 70%">
                            <p>{{job.description}}</p>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p class="titulo-body">Price:</p>
                                    <p>$ {{job.price}}</p>
                            </div>
                            <div class="col-4">
                                <p class="titulo-body">Deadline:</p>
                                    <p>{{job.deadline}}</p>
                            </div>
                            <div class="col-4">
                                <p class="titulo-body">Category:</p>
                                    {% if job.category == 'D' %}
                                        <p>Design</p>
                                    {% else %}
                                        <p>Video edition</p>
                                    {% endif %}
                            </div>
                        </div>
                        <button class="btn btn-success" data-toggle="modal" data-target="#modal-{{job.id}}">More</button>
                        <br>
                        <br>
                    </div>
                </div>
            </div>

            <!-- MODAL BEGGINING -->
            <div class="modal fade" id="modal-{{job.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div style="background-color: #333;" class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title job-modal-titulo" id="exampleModalLabel">Job Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                            <h4 class="titulo-job">{{job.title}}</h4>
                                <h6 class="titulo-body">Description:</h6>
                                <p>{{job.description}}</p>
                            <div class="row">
                                <div class="col-4">
                                    <h6 class="titulo-body">Price:</h6>
                                    <p>{{job.price}}</p>
                                </div>
                                <div class="col-4">
                                    <h6 class="titulo-body">Delivery date:</h6>
                                    <p>{{job.deadline}}</p>
                                </div>
                                <div class="col-4">
                                    <h6 class="titulo-body">Categoria:</h6>
                                    <p>{{job.category}}</p>
                                </div>
                            </div>
                            <h4 style="display:inline;" class="job-modal-titulo">References:</h4>
                            <br>
                            <br>
                            <div class="row">
                                {% for references in job.references.all %}
                                    <div class="col-4">
                                        <img src="{{references}}" width="100%">
                                    </div>
                                {% endfor %}
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'get_job' job.id %}" class="btn btn-success btn-lg">GET THIS JOB</a>
                                </div>
                                <div class="col" style="text-align: right; margin-top: 15px;">
                                    <a href="{% url 'update_job' job.id %}">Edit</a>
                                </div>

                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MODAL END -->

        {% endfor %}
        
    </div>
    </div>
{% endblock %}